<!DOCTYPE html>
{% extends "base.html" %}
{% block meta %}
    <title>Art Details - {{ art_detail.title }}</title>
{% endblock meta %}
{% block content %}
        <main>
        <section class="art-detail-section">
            <div class="detail-grid-container">

                <div class="detail-grid">
                    <h1 class="art-detail-title">{{art_detail.title}}</h1>
                    <p class="art-detail-date">Posted On: {{art_detail.date_posted}}</p>
                    <p class="art-detail-date">Tags: {{art_detail.tags}}</p>
                    <p class="art-detail-description">{{art_detail.description}}</p>
                </div>
                <div class = "art-grid">
                    <img class="art-detail-image" src="{{art_detail.art_image}}">
                </div>
                <div class="delete-update-grid">
                    <a href="{% url 'main:update_artwork' art_detail.id %}"class="submit-artwork-button">Update Artwork</a>
                    {% include "components/artwork_delete_modal.html" with art_detail=art_detail %}
                </div>
            </div>
        </section>
    </main>
{% endblock content %}