<!DOCTYPE html>
{% extends "base.html" %}
{% block meta %}
    <title>Artworks - {{ name }}</title>
{% endblock meta %}
{% block content %}
        <main>
        <section class="artwork-brand">
            <div class="artwork-brand-container">
                <h1 class="artwork-brand-letter">ARTWORKS</h1>
                <p class="artwork-brand-letter">Click The Title of The Art to Read The Descriptions!</p>
            </div>
        </section>
        <section class="artwork-section">
            <form method="get"
                      action="{% url 'main:show_artworks' %}"
                      class="project-search">
                    <input type="search"
                           name="tags"
                           value="{{ title_query }}"
                           placeholder="Search an Art with it's Title"
                           class="project-search__input"
                           aria-label="Cari berdasarkan nama proyek">
                    <button type="submit" class="button">Search</button>
                </form>
            <div class="artwork-grid">
                {%for artwork in artworks_list%}
                    <div class="artwork-card">
                        <div class= "artwork-image">
                            <img class = "image-display"src="{{artwork.art_image}}" alt="{{artwork.title}}">
                        </div>
                        <div class="artwork-title">
                            <p><a href="{%url 'main:show_art_details' artwork.id%}" class="artwork-title">{{artwork.title}}</a></p>
                        </div>
                    </div>
                {% empty %}
                    {% if title_query %}
                        <div class="no-artworks">
                        <p>No Artwork With Such Title Were Found</p>
                        </div>
                    {% else %}
                        <div class="no-artworks">
                        <p>No Artworks Submitted Yet</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if user.is_superuser %}
            <div class="submit-artwork-container">
                <a href="{% url 'main:create_artwork' %}"class="submit-artwork-button">Submit Artwork</a>
            </div>
            {% endif %}
        </section>
    </main>
{% endblock content %}