<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Artworks - {{name}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{% block content %}
        <main>
        <section class="artwork-brand">
            <div class="artwork-brand-container">
                <h1 class="artwork-brand-letter">ARTWORKS</h1>
                <p class="artwork-brand-letter">Click The Title of The Art to Read The Descriptions!</p>
            </div>
        </section>
        <section class="artwork-section">
            <div class="artwork-grid">
                {%for artwork in artworks_list%}
                    <div class="artwork-card">
                        <div class= "artwork-image">
                            <img class = "image-display"src="{{artwork.art_image}}" alt="{{artwork.title}}">
                        </div>
                        <div class="artwork-title">
                            <p><a href="{%url 'main:show_art_details' artwork.id%}" class="artwork-title">{{artwork.title}}</a></p>
                        </div>
                    </div>
                {% empty %}
                    <div class="no-artworks">
                        <p>No Artworks Submitted Yet.</p>
                    </div>
                {% endfor %}
            </div>
        </section>

    </main>
{% endblock content %}
</body>
</html>